<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel="methods" preserve-order="false">


    <test name="Chrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOs catlaina"/>

        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Chrome_1">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_1">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge_1">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_2">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge_2">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="Chrome_3">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-3"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_3">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest-3"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
</suite>
