<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel="methods" preserve-order="false">


    <test name="Chrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOs catlaina"/>

        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Chrome_1">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_1">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge_1">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_2">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="Edge_2">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-1"/>
        <parameter name="platform" value="macos catalina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="Chrome_3">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="latest-3"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="firefox_3">
        <parameter name="browser" value="Firefox"/>
        <parameter name="version" value="latest-3"/>
        <parameter name="platform" value="MacOs catlaina"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="70">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="29.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.105"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="71">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="28.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.106"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="72">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="27.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.107"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="73">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="71.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.108"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="74">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="61.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.109"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="75">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="61.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.47.240.110"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="76">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="62.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.22"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="77">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="63.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.23"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="78">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="61.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.24"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="79">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="66.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.26"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="80">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="62.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.27"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="VN"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="81">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="74.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.28"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="US"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="82">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="75.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.29"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="GB"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="89">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="76.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.30"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="UA"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="90">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="74.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.31"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="TR"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="91">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="73.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.32"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="TH"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="92">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="75.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.33"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="TW"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="93">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="71.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.34"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="CH"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="94">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="74.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.51.0.25"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="SE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="95">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="76.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.155"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="ES"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="96">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="73.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.156"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="KR"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="97">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="76.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.157"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="ZA"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="98">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="72.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.158"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="SG"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="99">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="75.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.159"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="RU"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="100">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="74.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.160"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="PT"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="101">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="72.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="PL"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="102">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="71.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="PH"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="103">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="15.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="NO"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="104">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="NG"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="105">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="16.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="NZ"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="106">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="16.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="NL"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="107">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="11.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="MA"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="108">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="15.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="MX"/>
        <parameter name="tunnel" value="false"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="109">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="MY"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="110">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="16.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="JP"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="111">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="11.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="FI"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>

            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="112">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="15.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="IT"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="113">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="11.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.176"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="IL"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="114">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="115">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="116">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="117">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="118">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>

    <test name="119">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
    <test name="120">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="17.0"/>
        <parameter name="platform" value="Win10"/>
        <parameter name="SeleniumVersion" value="10.92.181.179"/>
        <parameter name="timezone" value="UTC+04:00"/>
        <parameter name="geoLocation" value="DE"/>
        <parameter name="resolution" value="1024x768"/>
        <parameter name="tunnel" value="false"/>
        <classes>
            <class name="Uploadtest"/>
        </classes>
    </test>
</suite>
